.GameThing{
    padding: 0;
    margin: 0;
    width: 100vw;
    background-size: contain;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/CMS.png);
    height: 25vw;
}

.CMS{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/CMS.png);
}

.WFTBS{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/WFTBS.png);
}

.TAC{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/TAM.png);
}

.AAR{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/AAR.webp);
}

.ZS{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/ZS.jpg);
}

.ITFOTD{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/ITFOTD.png);
}

.DUN{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/DUNGEONITE.webp);
}

.SDUN{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/SUPER_DUNGEONITE.png);
}