.siteContent{
    width: 100vw;
    height: calc(100vh - 3vw);
    position: absolute;
    top: 3vw;
}

.smallLogo{
        width: auto;
        height: 25vh;
    
        transition : all 0.75s;
        filter: var(--LogoColor) drop-shadow(0 0 0.75rem var(--LogoGlow));
}

.smallerLogo{
    width: auto;
    height: 10vh;
    position: absolute;
    left: 1.25vw;
    top: -1.25vw;
    transition : all 0.75s;
    filter: var(--LogoColor) drop-shadow(0 0 0.75rem var(--LogoGlow));
}

.Centered{
    display: flex;
    justify-content: center;
}

.MainSpeel{
    justify-content: center;
    position: absolute;
    width: 100vw;
    top: 75%;
    text-align: center;
}

.WelcomeText{
    font-size: 2rem;
    font-family: Monospace;
}

.wholeLine{
    width: 100vw;
}

.Explore {
    justify-content: left;
    padding-left: 25vw;
    width: 50vw;
    display: flex;
  }

.cssIsStupid {
    background-color: var(--Background2);
    height: 3vw;
    width: 10vw;
    text-align: center;
    line-height: 3vw;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
    margin: 1.25vw;
    border-radius: 0.5vw;
    filter: var(--ImageButtonFilt);
    font-size: 2rem;
    color: #ffffff;

    transition: all 0.25s;
}

.cssIsStupid:hover {
    background-color: var(--Background2);
    height: 5vw;
    width: 15vw;
    text-align: center;
    line-height: 5vw;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
    margin: 1.25vw;
    border-radius: 0.5vw;
}

.gameDesc{
    font-size: x-large;
    text-align: left;
}

.link{
    margin: 0;
    padding: 0;
    line-height: 1vw;
}

.AmongUsSusSus{
    display: flexbox;
}

.gameButton{
    width: 7.5vh;
    transition: all 0.4s ease-in-out;
    height: auto;
}

.gog{
    filter: var(--LogoColor) drop-shadow(0 0 0.75rem var(--LogoGlow));
    transition: all 0.25 ease-in-out;
}

.gj{
    filter: drop-shadow(0 0 0.75rem #ffffff);
    transition: all 0.25 ease-in-out;
}

.gameButton:hover{
    width: 10vh;
    transition: all 0.4s ease-in-out;
    height: auto;
}