.OAC{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/people/ehh.png);
}

.CORB{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/people/image_2023-08-19_231329812.png);
}

.BRAY{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/people/image_2023-08-19_231725460.png);
}

.COLT{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/people/image_2023-08-19_232200290.png);
}

.WILL{
    background-position: center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/ObviousStudios/Website-Asset-Directory/main/images/people/image_2023-08-19_232512226.png);
}